* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.max-width{
  max-width: 1440px;
  margin: 0 auto;
}
.contain {
  max-width: 1140px;
  margin: 0 auto;
}
/* Shared style */
.primary-color {
  color: #e95a08;
}
.dark {
  color: #000000;
}
.dark-gray {
  color: rgba(0, 0, 0, 0.5);
}
/* .center{
    text-align: center;
} */
.section-gap {
  margin-top: 60px;
}
.display-flex {
  display: flex;
}
/* navber styles */
.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 48px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
}
/* Banner Section  */
.banner {
  display: flex;
  margin: 120px auto;
  align-items: flex-end;
}

.heading {
  font-weight: bold;
  font-size: 64px;
}
.banner img {
  display: block;
}
.pregraph {
  font-size: 22px;
  margin-top: 13px;
}
/* Our plants Section  */
.plant {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.plant-header {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.plant-p {
  width: 100%;
  margin: 50px auto;
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px 20px;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 270px;
}
.card-disceaption {
  margin-top: 30px;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.card-cost {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
.primary-btn {
  padding: 19px 80px;
  border: none;
  background-color: #e95a08;
  color: white;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 50px;
}
/* Trusted seller section  */
.trusted-container {
  gap: 60px;
  margin-top: 200px;
}
.image-container {
  position: relative;
}
.trusted-badge {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -110px;
  right: -90px;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}
.trusted-right {
  margin: 40px auto;
}

.trusted-title {
  font-size: 50px;
  line-height: 68px;
  font-weight: 700;
}
.trusted-list {
  padding-left: 40px;
}
.list-item {
  font-size: 22px;
  line-height: 27px;
  margin-top: 20px;
}
/* latest deals section */
.deals-title {
  margin: 130px auto 120px;
  text-align: center;
}
.card-container-bg {
  display: grid;
  grid-template-columns: 1fr 2fr ;
  grid-template-rows: repeat(2 , 1fr);
  gap: 28px;
}
.card-bg{
  height: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 16px;
  border-radius: 14px;
}
.card-bg span {
  text-decoration: underline;
}
.bloom{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../assets/deal-bloom.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ana{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../assets/deal-ana.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.zabo{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../assets/deal-zabo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100%;
}
/* newslateer-section */
.newslateer-section {
 background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("../assets/news-letter-bg.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 23px;
 height: 533px;
}
.newslateer-section h2{
  font-size: 50px;
  font-weight: 700;
  color: white;
}
.newslateer-from{
  display: flex;
  width: 70%;
}
.newslateer-from button {
  background-color: #e95a08;
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 26px 50px;
  border: none;
  text-align: center;
}
.newslateer-from input[type="email"]{
  width: 100%;
  padding: 8px 20px;
  outline: none;
}
.newslateer-from input[type="email"]::placeholder{
 color: rgba(0, 0, 0, 0.5);
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
}

@media screen and (max-width: 576px) {
  /* navber & banner */
  .home {
    display: none;
  }
  .navber {
    max-width: 361px;
    margin: 30px auto;
    margin-top: 60px;
    text-align: center;
    align-items: center;
  }
  .banner-img {
    max-width: 390px;
  }
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    margin: 28px 0 65px;
  }
  .banner-left {
    padding-left: 14px;
    max-width: 361px;
    text-align: center;
  }
  .nav-logo {
    width: 63px;
    height: 38px;
  }
  .heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 25px;
  }
  .banner-p {
    font-size: 14px;
    font-weight: 400;
    max-width: 360px;
    margin: auto;
    text-align: left;
  }
  /* Our Plants Section */

  .plant {
    max-width: 393px;
    justify-content: center;
  }
  .plant-header {
    font-size: 24px;
    font-weight: 600;
  }
  .plant-p {
    width: 340px;
    font-size: 14px;
    font-weight: 400;
    margin: 16px auto 0;
  }
  .card-container {
    max-width: 362px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-title,
  .card-cost {
    font-size: 16px;
  }
  .primary-btn {
    font-size: 16px;
    padding: 19px 30px;
  }
  .card {
    max-width: 170px;
    max-height: 340px;
    gap: 30px 20px;
    margin: 30px 0;
  }
  /* Trusted seller section  */
  .trusted-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
    margin-top: 70px;
  }
  .trusted-badge {
    display: none;
  }
  .image-container {
    margin: 0 auto;
  }
  .store {
    max-width: 360px;
  }
  .trusted-title {
    font-size: 24px;
    line-height: 33px;
  }
  .trusted-title br {
    display: none;
  }
  .list-item {
    font-size: 14px;
    line-height: 17px;
  }
  .trusted-list {
    padding-left: 20px;
  }
  .trusted-right {
    max-width: 361px;
  }
  .trusted-right {
    margin: 0 auto;
  }
  /* least dell section */
  .deals-title {
  margin: 130px auto 50px;
  text-align: center;
}
.deals-p{
  font-size: 14px;
  text-align: center;
  align-items: center;
  margin: 16px auto 0;
  max-width: 340px;
}
.deals-title  br{
  display: none;
}
.card-container-bg {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}
.card-bg{
  width: 366.22px;
height: 206px;
}
/* newslateer-section */
.newslateer-section{
  width: 393px;
  height: 275px;
  margin: 40px auto 0;
}
.newslateer-section h2{
  font-size: 20px;
  font-weight: 700;
}
.newslateer-from button {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;
}
}
